.header{
    display: flex;
	justify-content: center; 
    background: #F6F8F9;
    width: 1440px;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 300;
	
}
.navigation{
    display: flex;
    align-items: center;
	width: 1400px;
	
}
.nav-2{
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin-left: 92px;
}
.logo{
    color: #FA6980;
}
.home{
    color: #343638;
    font-size: 11px;
}
.first-div{
    background: #F6F8F9;
    width: 1160px;
    height: 410px;
    margin: 0 auto;
    margin-top: 40px;
    top: 170;
  }
  .img-div{
    position: absolute; 
  }

  .img-text{
    position: absolute;
    color: white;
    top: 28px;
    left: 40px;
    font-size: 16px;
  }

  .conteineri1{
    margin-top: 100px;
  }
  .div1{
    width: 360px;
    height: 350px;
    background: white;
   
  }
  .p-text{
    font-size: 13px;
    color: #A6ADB4;
    margin-top: 245px;
    margin-left: 40px;
    width: 280px;
    
    z-index: 20;
  }
  .time{
    margin-top: 10px;
    margin-left: 40px;
  }
  .box-div{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  .trending{
    font-size: 24px;
  }

.body{
    background: #F6F8F9;
    height: 5000px;
}

.div2{
    width: 1160px;
    background: red;
    margin: 0 auto;
    margin-top: 58px;
}
.happening{
    font-size: 24px;
}

.image-nature{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 1160px;
    margin-top: 40px;
}

.nature2{
    margin-top: 40px;
}

.morbi{
    position: relative; 
    
}
.morbi2{
    position: absolute;
    top: 194px;
    left: 308px;
    font-size: 16px;
    color: white;
}

.img-box2{
    width: 360px;
        
}

.first-div{
    width: 760;
}